.add-ons {
  margin-bottom: 34px;

  &::after {
    top: 15px;
  }
}

.add-ons__list {
  @include list-reset;
  margin-top: 35px;
  margin-bottom: 39px;
}

.add-ons__title {
  @include font-sizes(24px, 24px);
  font-weight: 400;
  color: $font-color-dark;
}

@media (min-width: $tablet-width) {
  .add-ons {
    margin-bottom: 74px;

    &::after {
      top: 23px;
    }
  }

  .add-ons__list {
    margin-top: 82px;
    margin-bottom: 68px;
  }

  .add-ons__title {
    @include font-sizes(36px, 36px);
  }
}

@media (min-width: $desktop-width) {
  .add-ons__container {
    display: grid;
    grid-template-columns: 896px 1fr;
    row-gap: 80px;
    column-gap: 79px;
    margin-top: 81px;
    margin-bottom: 86px;
  }

  .add-ons__list {
    margin: 0;
  }
}
