.catalog {
  margin-top: 27px;
  margin-bottom: 27px;
}

.catalog__list {
  @include list-reset;
  margin-top: 40px;
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-top: 32px;
    margin-bottom: 65px;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 768px - (30px * 2);
    column-gap: 60px;
    row-gap: 141px;
    margin: 164px auto 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin-top: 49px;
    margin-bottom: 76px;
  }

  .catalog__list {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1440px - (110px * 2);
    column-gap: 80px;
    row-gap: 144px;
  }
}
