.catalog {
  margin-top: 27px;
  margin-bottom: 27px;
}

.catalog__list {
  @include list-reset;
  margin-top: 40px;
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-top: 32px;
    margin-bottom: 65px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 708px;
    margin: 23px auto 0 auto;
  }

  .catalog__list-item {
    margin-top: 141px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin-top: 49px;
    margin-bottom: 74px;
  }

  .catalog__list {
    max-width: 1440px - (110px * 2);
  }

  .catalog__list-item {
    margin-top: 142px;
  }
}
