.contacts {
  font-family: $secondary-font-family;
  line-height: 20px;
  position: relative;
  background-color: $basic-bg-color;

  &--main-page {
    background: none;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0;
}

.contacts__invitation {
  @include font-sizes(16px, 20px);
  flex-basis: 142px;
  font-family: $main-font-family;
  text-transform: uppercase;
  color: $additional-dark;
  margin: 0;
}

.contacts__adress {
  margin: 0;
  flex-basis: 50%;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding: 64px 41px 58px 41px;
  }

  .contacts__invitation {
    @include font-sizes(20px, 24px);
  }

  .contacts__adress {
    margin-left: auto;
    text-align: right;
    flex-basis: 173px;
    font-size: 16px;

    span {
      display: inline-block;
      padding-top: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    width: 570px;
    position: absolute;
    padding-left: 76px;
    padding-right: 89px;
    transform: translateY(195px) translateY(-50%);
    background-color: $font-color-light;
  }

  .contacts__adress {
    margin-left: 95px;
    text-align: left;
  }
}
