.example {
  background-color: #eaeaea;
  padding-top: 29px;
  padding-bottom: 16px;
}

.example__text {
  font-family: $secondary-font-family;
  margin: 36px 0 25px 0;
}

.example__costs {
  flex-basis: 280px;
  line-height: 27px;
  margin-top: 30px;
  text-transform: uppercase;
  color: $font-color-dark;
  display: flex;
  justify-content: center;

  dd {
    margin: 0;
  }
}

.example__stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.example__stats-item {
  &:first-of-type {
    margin-right: auto;
  }
}

.example__picture {
  margin: 31px auto 20px auto;
}

@media (min-width: $tablet-width) {
  .example {
    padding-top: 43px;
    padding-bottom: 46px;
    background-image: linear-gradient(to bottom, $font-color-light 57%, #eaeaea 57%);
  }

  .example__costs {
    display: inline;
    font-size: 20px;
    flex-basis: 175px;
    text-align: right;
    margin: 0;
    margin-left: auto;
  }

  .example__text {
    @include font-sizes(16px, 24px);
    margin: 63px 0 54px 0;
  }

  .example__stats-item {
    &:not(:last-of-type) {
      margin-right: 42px;
    }
  }

  .example__picture {
    margin-top: 112px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding: 21px 110px 67px 110px;
    margin-top: -50px;
    background-image: linear-gradient(to bottom, #ffffff 32%, #eaeaea 32%);
  }

  .example__wrapper {
    display: grid;
    grid-template-columns: 438px 1fr;
    column-gap: 86px;
  }

  .example__title {
    margin-top: 50px;
  }

  .example__text {
    margin: 151px 0 65px 0;
  }

  .example__picture {
    align-self: stretch;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    margin: 0;

    img {
      margin-right: -94px;
    }
  }

  .example__costs {
    margin-left: 0;
    margin-top: 59px;
    flex-basis: auto;
    display: flex;
  }


  .example__costs-amount {
    margin-left: 61px;
  }

  .example__stats {
    justify-content: flex-start;
  }
}
