.example {
  padding-top: 29px;
  padding-bottom: 16px;
  background-color: #eaeaea;
}

.example__text {
  margin: 36px 0 25px 0;
  padding-right: 1px;
  font-family: $secondary-font-family;
}

.example__stats {
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: center;
  align-items: center;
}

.example__stats-item {
  margin-bottom: 30px;

  &:nth-of-type(odd) {
    margin-right: auto;
  }
}

.example__costs {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  line-height: 27px;
  text-transform: uppercase;
  color: $font-color-dark;
}

.example__costs-amount {
  margin: 0;
  min-width: max-content;
  align-self: center;
}

.example__picture {
  margin: 31px auto 20px auto;
}

@media (min-width: $tablet-width) {
  .example {
    padding-top: 43px;
    padding-bottom: 48px;
    background-image: linear-gradient(to bottom, $font-color-light 57%, #eaeaea 57%);
  }

  .example__stats {
    grid-template-columns: 1fr max-content 300px;
  }

  .example__text {
    @include font-sizes(16px, 24px);
    margin: 63px 0 54px 0;
  }

  .example__stats-item {
    &:not(:last-of-type) {
      margin-right: 42px;
    }
  }

  .example__costs {
    grid-column: 3 / 4;
    grid-row: 1 / -1;
    display: inline;
    margin: 0 0 30px auto;
    font-size: 20px;
    text-align: right;
  }

  .example__picture {
    margin-top: 62px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding: 21px 110px 27px;
    margin-top: -50px;
    background-image: linear-gradient(to bottom, #ffffff 32%, #eaeaea 32%);
  }

  .example__wrapper {
    display: grid;
    grid-template-columns: 438px 1fr;
    column-gap: 170px;
  }

  .example__title {
    margin-top: 50px;
  }

  .example__text {
    margin: 148px 0 57px;
  }

  .example__stats {
    justify-content: start;
  }

  .example__costs {
    grid-column: 1 / -1;
    grid-row: auto;
    display: flex;
    justify-content: flex-start;
    margin-left: 0;
    margin-top: 28px;
  }

  .example__costs-amount {
    margin-left: 63px;
  }

  .example__picture {
    align-self: stretch;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    margin: 0;

    img {
      margin-right: -94px;
    }
  }
}
