.features {
  background-color: #ffffff;
}

.features__list {
  @include list-reset;
  display: grid;
  grid-template-columns: 100%;
  gap: 6px;
  margin-top: 34px;
  margin-bottom: 34px;
}

.features__item {
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    @include sizes(60px, 60px);
    content: "";
    background-color: $basic-theme-color;
    background-image: url("../../img/leaf.svg");
    background-position: center center;
  }
}

.features__item--form {
  &::before {
    background-image: url("../../img/powder.svg");
  }
}

.features__item--usage {
  &::before {
    background-image: url("../../img/dining.svg");
  }
}

.features__item--results {
  &::before {
    background-image: url("../../img/clock.svg");
  }
}

.features__text {
  flex-basis: 200px;
  margin: 10px 0 10px 20px;
  font-family: $secondary-font-family;
}

@media (min-width: $tablet-width) {
  .features {
    border-bottom: 1px solid #e6e6e6;
  }

  .features__list {
    grid-template-columns: repeat(2, min-content);
    column-gap: 135px;
    row-gap: 77px;
    margin-top: 74px;
    margin-bottom: 0;
    padding-bottom: 45px;
    counter-reset: number;
  }

  .features__item {
    flex-direction: column;
    width: 250px;
    align-items: flex-start;

    &::before {
      @include sizes(80px, 80px);
    }

    &::after {
      @include font-sizes(280px, 280px);
      position: absolute;
      top: -41px;
      right: 5px;
      color: $basic-bg-color;
      counter-increment: number;
      content: counter(number);
    }

    &:first-child::after {
      padding-right: 15px;
    }
  }

  .features__text {
    @include font-sizes(16px, 24px);
    flex-basis: 130px;
    margin: 30px 0 0 0;
    z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  .features__list {
    grid-template-columns: repeat(4, min-content);
    column-gap: 75px;
  }
}
