.fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.fieldset__title {
  @include font-sizes(24px, 26px);
  text-transform: none;
  color: $font-color-dark;
  font-weight: 400;

  span {
    max-width: 228px;
  }
}

.fieldset__container {
  max-width: 280px;
  margin: 0 auto;
}

.fieldset__text-wrapper {
  position: relative;
  display: flex;
  justify-content: stretch;
  align-items: center;
  margin: 0 0 14px 0;

  &:last-of-type {
    margin-bottom: 0;
  }

  label {
    flex-shrink: 0;
  }
}

.fieldset__text {
  @include font-inherit;
  min-width: 0;
  min-height: 45px;
  padding: 10px 9px 9px 15px;
  flex-grow: 1;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;

  &::placeholder {
    color: inherit;
    opacity: 1;
  }

  &:hover {
    border-color: $basic-border-color;
  }

  &:active,
  &:focus {
    border-color: transparent;
    outline: 2px solid $main-font-color;
  }

  &.error {
    border-color: transparent;
    outline: 2px solid $error-color;
  }
}

.fieldset__text--icon {
  padding-right: 45px;
  border-color: $basic-border-color;

  svg {
    fill: $font-color-medium;
  }

  & + svg {
    position: absolute;
    right: 13px;
  }

  &:active + svg,
  &:focus + svg {
    fill: $basic-theme-color;
  }

  &.error + svg {
    fill: $error-color;
  }
}

.fieldset__option {
  display: flex;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: 13px;
  }

  &::before {
    @include sizes(30px, 30px);
    content: "";
    margin-right: 15px;
    border: 8px solid #ffffff;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px $basic-border-color;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover::before {
    box-shadow: 0 0 0 1px #bababa;
  }

  .fieldset__radio-input:focus + &::before {
    box-shadow: 0 0 0 2px $basic-theme-color;
  }

  .fieldset__radio-input:checked + &::before {
    background-color: $basic-theme-color;
  }
}

.fieldset__check-option {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 13px;

  &:last-of-type {
    margin: 0;
  }

  &::before {
    @include sizes(30px, 30px);
    content: "";
    margin-right: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 0 1px $basic-border-color;
  }

  &::after {
    @include sizes(16px, 9px);
    content: "";
    display: none;
    position: absolute;
    left: 7px;
    top: 8px;
    border-left: 2px solid $basic-theme-color;
    border-bottom: 2px solid $basic-theme-color;
    transform: rotate(-45deg);
  }

  .fieldset__check-input:checked + &::after {
    display: inline-block;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover::before {
    box-shadow: 0 0 0 1px #bababa;
  }

  .fieldset__check-input:focus + &::before {
    outline: 2px solid $basic-theme-color;
  }
}

@media (min-width: $tablet-width) {
  .fieldset__container {
    max-width: 630px;
  }

  .fieldset__title {
    @include font-sizes(36px, 36px);

    span {
      max-width: none;
    }
  }

  .fieldset__text {
    padding-left: 17px;
  }

  .fieldset__text-wrapper {
    margin-bottom: 22px;
  }

  .fieldset__option {
    &::before {
      @include sizes(40px, 40px);
      margin-right: 19px;
      border-width: 11px;
    }
  }

  .fieldset__check-option {
    margin: 0;

    &::before {
      @include sizes(40px, 40px);
      margin-right: 19px;
    }

    &::after {
      left: 12px;
      top: 12px;
    }
  }
}

@media (min-width: $desktop-width) {
  .fieldset__container {
    max-width: 1440px - (110px * 2);
  }

  .fieldset__text-wrapper {
    width: 569px;
  }
}
