.main-nav {
  @include font-sizes(20px, 20px);
  font-weight: 500;
  text-transform: uppercase;
  color: $font-color-dark;
  text-align: center;
}

.main-nav__list {
  @include list-reset;
}

.main-nav__link {
  display: flex;
  justify-content: center;
  min-height: 66px;
  padding: 10px 20px;
  align-items: center;
  border-top: 1px solid #e6e6e6;
}

.main-nav__link:not(.main-nav__link--active) {
  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline: 1px solid rgba($font-color-dark, 0.2);
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    margin: 21px 0;
  }

  .main-nav__list {
    @include font-sizes(18px, 24px);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 475px;
    font-weight: 400;
    margin-right: -35px;
  }

  .main-nav__item {
    max-width: 190px;
    text-align: center;
    margin-right: 35px;
  }

  .main-nav__link {
    min-height: 42px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0;
    border: none;
    border-bottom: 2px solid transparent;

    &--active {
      border-color: $basic-theme-color;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    margin-top: 52px;
  }

  .main-nav--main-page {
    color: $font-color-light;

    .main-nav__link--active {
      border-bottom: 2px solid $font-color-light;
    }
  }

  .main-nav__list {
    @include font-sizes (20px, 30px);
    width: 515px;
  }
}
