body {
  // position: relative;
  background-color: lavender;
  min-width: 320px;
  min-height: 100%;
  padding: 0;
  margin: 0;
  // font-family: "RobotoFont", Arial, sans-serif;
  // font-size: 14px;
  // font-weight: 500;
  // line-height: 16px;
  // color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
