.page-header__wrapper {
  min-height: 41px;
  max-width: 280px;
  margin: 12px auto;
  display: flex;
  align-items: center;
}

.page-header__menu-toggle {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
    width: 768px - (30px * 2);
    margin: auto;
  }

  .page-header__menu-toggle {
    display: none;
  }

  .page-header__wrapper {
    margin: 21px 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1440px - (110px * 2);
  }

  .page-header__wrapper {
    margin-top: 52px;
  }
}
