.program-form {
  text-transform: uppercase;
  font-size: 16px;
  padding-bottom: 32px;
}

.program-form__title {
  @include font-sizes(24px, 26px);
  text-transform: none;
  color: $font-color-dark;
  font-weight: 400;
  margin: 0;
}

.program-form__general {
  padding: 27px 0;
  border: none;
}

.program-form__goal {
  color: $font-color-medium;
  padding: 20px 0;
  border: 1px solid #d9d9d9;
  border-right: none;
  border-left: none;
}

.program-form__owner,
.program-form__comments {
  padding-top: 43px;
  border: none;
}

.program-form__additional {
  color: $font-color-dark;
  padding-top: 43px;
  padding-bottom: 34px;
  border: none;
}

.program-form__footnote {
  font-family: $secondary-font-family;
  text-transform: none;
  line-height: 16px;
  color: $font-color-dark;
}
