.promo {
  background: #63a73a url(../../img/index-background-mobile@1x.jpg) center bottom no-repeat;
  color: $font-color-light;
  text-align: center;
}

.promo__title {
  @include font-sizes(36px, 36px);
  font-weight: 400;
}

.promo__slogan {
  line-height: 14px;
  text-transform: uppercase;
}

.promo__link {
  @include font-sizes(14px, 18px);
}
