.side-links {
  background-color: $basic-bg-color;
  text-align: center;
}

.side-links__socials {
  @include list-reset;
  padding: 20px 0 18px 0;
  border-top: 1px solid $secondary-border-color;
}

.side-links__logo {
  &:hover,
  &:focus {
    outline: none;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .side-links__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .side-links__socials {
    margin-left: 49px;
    margin-right: 20px;
    border: none;
  }
}
