.strategies {
  margin-bottom: 29px;
}

.strategies__list {
  @include list-reset;
}

.strategies__item {
  position: relative;
  padding: 20px 19px 0 19px;
  background-color: $basic-bg-color;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &::before {
    @include sizes(50px, 50px);
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;
    border-radius: 50%;
    background-color: $basic-theme-color;
  }

  &::after {
    @include sizes(36px, 50px);
    content: "";
    position: absolute;
    top: 21px;
    left: 29px;
    background: url("../../img/cat-slim.svg") no-repeat;
  }
}

.strategies__item--mass {
  &::after {
    @include sizes(67px, 28px);
    top: 35px;
    left: 13px;
    background: url("../../img/cat-pro.svg") no-repeat;
  }
}

.strategies__title,
.strategies__link {
  @include font-sizes(24px, 37px);
  font-weight: 400;
  text-transform: uppercase;
  color: $font-color-dark;
}

.strategies__title {
  margin: 10px 0 30px 71px;
}

.strategies__description {
  margin-bottom: 22px;
  font-family: $secondary-font-family;
}

.strategies__link {
  @include font-sizes(16px, 16px);
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $secondary-border-color;

  &::after {
    @include sizes(24px, 10px);
    content: "";
    margin-left: 18px;
    background: url("../../img/right-arrow-long.svg") no-repeat;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    outline: 1px solid rgba($font-color-dark, 0.2);
  }
}

.strategies__link:hover,
.strategies__link:focus,
.strategies__link:active {
  &::after {
    width: 32px;
    background: url("../../img/right-arrow-verylong.svg") no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .strategies {
    margin-bottom: 44px;
  }

  .strategies__item {
    padding: 77px 280px 37px 52px;

    &:not(:last-of-type) {
      margin-bottom: 30px;
    }

    &::before {
      @include sizes(200px, 200px);
      top: 92px;
      left: 447px;
    }

    &::after {
      @include sizes(140px, 192px);
      left: 476px;
      top: 81px;
    }
  }

  .strategies__item--mass {
    padding-right: 313px;

    &::after {
      @include sizes(268px, 112px);
      top: 135px;
      left: 413px;
    }
  }

  .strategies__title {
    @include font-sizes(36px, 36px);
    margin: 0;
    margin-bottom: 25px;
  }

  .strategies__description {
    @include font-sizes(16px, 24px);
  }

  .strategies__link {
    @include font-sizes(20px, 30px);
    margin-top: 31px;
    border: 0;

    &::after {
      margin-left: 27px;
    }
  }
}

@media (min-width: $desktop-width) {
  .strategies {
    margin-bottom: 70px;
  }

  .strategies__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .strategies__item {
    flex-basis: 570px;
    padding-right: 52px;

    &:not(:last-of-type) {
      margin-bottom: 0;
    }

    &::before {
      @include sizes(100px, 100px);
      top: 48px;
      left: 52px;
    }

    &::after {
      @include sizes(70px, 97px);
      left: 67px;
      top: 41px;
    }
  }

  .strategies__item--mass {
    &::after {
      @include sizes(134px, 56px);
      top: 68px;
      left: 32px;
    }
  }

  .strategies__link {
    margin-top: 9px;
  }

  .strategies__title {
    margin-left: 160px;
  }

  .strategies__description {
    margin-top: 74px;
    margin-bottom: 0;
  }
}
