body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-family: $main-font-family, $secondary-font-family, sans-serif;

  @include font-sizes();
  font-weight: 400;
  color: $main-font-color;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
}

.container {
  max-width: 320px - (20px * 2);
  margin: 0 auto;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .container {
    max-width: 768px - (30px * 2);
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: 1440px - (110px * 2);
  }

  .page__body {
    background: url("../../img/index-background-desktop@1x.jpg") right top no-repeat;
    background-size: 50%;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/index-background-desktop@2x.jpg");
    }
  }
}
