$main-font-color: #444444;
$font-color-light: #ffffff;
$font-color-medium: #222222;
$font-color-dark: #000000;

$additional-dark: #111111;

$basic-theme-color: #68b738;
$basic-bg-color: #f2f2f2;
$basic-border-color: #cdcdcd;
$secondary-border-color: #d9d9d9;

$main-font-family: oswald;
$secondary-font-family: arial;

$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
