$main-font-color: #444444;
$font-color-light: #ffffff;
$font-color-medium: #222222;
$font-color-dark: #000000;

$additional-dark: #111111;

$basic-theme-color: #68b738;
$basic-bg-color: #f2f2f2;

$main-font-family: oswald;
$secondary-font-family: arial;
