.action {
  @include font-sizes(16px, 20px);
  min-height: 289px;
  padding: 43px 55px;
  text-align: center;
  background: $basic-theme-color url("../../img/gift-photo-mobile@1x.jpg") no-repeat;
  background-size: cover;
  font-family: $secondary-font-family;
  color: $font-color-light;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/gift-photo-mobile@2x.jpg");
  }
}

.action__text {
  display: flex;
  flex-direction: column;
  margin: 0;

  &::before {
    @include sizes(59px, 78px);
    content: "";
    align-self: center;
    margin-bottom: 45px;
    margin-top: 18px;
    background: url("../../img/icon-gift.svg") no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .action {
    min-height: 200px;
    padding: 62px 122px 61px  88px;
    background-image: url("../../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/gift-photo-tablet@2x.jpg");
    }
  }

  .action__text {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    span {
      width: 163px;
      text-align: left;
    }

    &::before {
      margin: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .action {
    padding: 62px 41px 30px 41px;
    background-image: url("../../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/gift-photo-desktop@2x.jpg");
    }
  }

  .action__text {
    flex-direction: column;

    span {
      text-align: center;
    }

    &::before {
      margin-bottom: 45px;
    }
  }
}
