.add-product {
  font-family: $secondary-font-family;
  line-height: 20px;
}

.add-product__name {
  font-family: $main-font-family;
  @include font-sizes(16px, 16px);
  font-weight: 400;
  text-transform: uppercase;
  color: $font-color-medium;
}
