.add-product {
  padding: 13px 0 19px 0;
  font-family: $secondary-font-family;
  line-height: 20px;
  border-top: 1px solid $basic-border-color;

  &:last-of-type {
    border-bottom: 1px solid $basic-border-color;
  }
}

.add-product__pack {
  display: flex;
  justify-content: space-between;
  margin: 9px 0 11px 0;
}

.add-product__name {
  @include font-sizes(16px, 16px);
  margin: 0;
  font-family: $main-font-family;
  font-weight: 400;
  text-transform: uppercase;
  color: $font-color-medium;
}

@media (min-width: $tablet-width) {
  .add-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 26px 37px 27px 37px;
    border: 1px solid $basic-border-color;
  }

  .add-product__name {
    @include font-sizes(20px, 20px);
    flex-basis: 314px;
  }

  .add-product__pack {
    @include font-sizes(16px, 20px);
    flex-basis: 314px;
    justify-content: flex-end;
    margin: 0;
  }

  .add-product__price {
    flex-basis: 93px;
    text-align: right;
  }

  .add-product__order {
    margin-top: 24px;
  }
}

@media (min-width: $desktop-width) {
  .add-product {
    padding: 16px 0 14px 0;
    border-right: none;
    border-left: none;
  }

  .add-product__name {
    flex-basis: 285px;
  }

  .add-product__price {
    flex-basis: 44px;
    text-align: left;
  }

  .add-product__order {
    flex-basis: 244px;
    margin: 0;
  }

  .add-product__pack {
    flex-basis: 287px;
    justify-content: space-between;
    text-align: left;
  }
}
