.button {
  @include font-sizes(16px, 20px);
  display: inline-block;
  font-family: $main-font-family;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: $basic-theme-color;
  color: $font-color-light;
  width: 100%;
  padding: 10px 20px;

  &--light {
    background-color: $basic-bg-color;
    color: $main-font-color;
  }
}
