.button {
  @include font-sizes(16px, 20px);
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  vertical-align: middle;
  font-family: $main-font-family;
  text-transform: uppercase;
  background-color: $basic-theme-color;
  color: $font-color-light;

  &:hover,
  &:focus,
  &:active {
    background-color: $button-active;
  }

  &:focus {
    outline: 1px solid rgba($font-color-dark, 0.2);
  }

  &:active {
    color: rgba($font-color-light, 0.3);
  }
}

.button--light {
  background-color: $basic-bg-color;
  color: $main-font-color;

  &:hover,
  &:focus,
  &:active {
    background-color: $third-border-color;
  }

  &:active {
    color: rgba($main-font-color, 0.3);
  }
}
