.characteristics {
  font-family: $secondary-font-family;
  width: 100%;

  @include font-sizes(12px, 16px);
}

.characteristics__name {
  font-weight: inherit;
}

.characteristics__value {
  text-align: right;
}

@media (min-width: $tablet-width) {
  .characteristics {
    @include font-sizes(16px, 16px);
  }

  .characteristics__name {
    text-align: left;
  }
}
