.copyright {
  padding: 20px 0;
  border-top: 1px solid $secondary-border-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright__link {
  font-family: $secondary-font-family;
  font-size: 16px;
  line-height: 0;

  &:not(:last-of-type) {
    margin-right: 22px;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    border: none;
  }
}
