.logo--footer {
  padding: 37px 0 30px 0;
}

@media (min-width: $tablet-width) {
  .logo--footer {
    padding: 60px 0;
  }
}

@media (min-width: $desktop-width) {
  .logo--footer {
    padding: 63px 0;
  }
}
