.logo__icon {
  width: 190px;
}

.logo--footer {
  width: 128px;
  padding: 37px 0 30px 0;
}

.logo {
  &:hover,
  &:focus {
    opacity: 0.8;
    outline: none;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .logo__icon {
    width: 174px;
  }

  .logo--footer {
    padding: 60px 0;
  }
}

@media (min-width: $desktop-width) {
  .logo__icon {
    width: 202px;
  }

  .logo--footer {
    padding: 63px 0;
  }
}
