.map {
  height: 362px;
  background: url("../../img/bg-map-mobile@1x.png") no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/bg-map-mobile@2x.png");
  }

  iframe {
    width: 320%;
    height: 100%;
    border: 0;
    margin-left: -110%;
  }
}

@media (min-width: $tablet-width) {
  .map {
    height: 400px;
    background: url("../../img/bg-map-tablet@1x.png") no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/bg-map-tablet@2x.png");
    }
  }
}

@media (min-width: $desktop-width) {
  .map {
    background: url("../../img/bg-map-desktop@1x.png") no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/bg-map-desktop@2x.png");
    }
  }
}
