.map {
  height: 362px;
  width: 100%;
  background: url("../../img/bg-map-mobile@1x.jpg") no-repeat;
  background-size: cover;
  overflow: hidden;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/bg-map-mobile@2x.jpg");
  }

  iframe {
    width: 320%;
    height: 100%;
    border: 0;
    margin-left: -110%;
  }
}

@media (min-width: $tablet-width) {
  .map {
    height: 400px;
    background: url("../../img/bg-map-tablet@1x.jpg") no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/bg-map-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .map {
    background: url("../../img/bg-map-desktop@1x.jpg") no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/bg-map-desktop@2x.jpg");
    }
  }
}
