.product {
  min-height: 209px;
  border-top: 1px solid $third-border-color;
}

.product__name {
  @include font-sizes(16px, 20px);
  display: inline-block;
  width: 76px;
  color: $font-color-medium;
  text-transform: uppercase;

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
  height: 100%;
}

.product__picture {
  flex-basis: 140px;

  img {
    object-fit: contain;
  }

  &:focus {
    outline: none;
  }
}

.product__discription {
  flex-basis: 145px;
  margin-right: -5px;
}

.product__order {
  margin-top: -4px;
}

@media (min-width: $tablet-width) {
  .product__container {
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 39px 40px 39px;

    &:not(.show-more__container) {
      background-color: $basic-bg-color;
    }
  }

  .product__picture {
    margin: -74px -39px 0 -39px;
    max-height: 208px;
  }

  .product__discription {
    align-self: stretch;
    text-align: center;
  }

  .product__characteristics {
    margin: 12px 0 37px 0;
  }

  .product__name {
    @include font-sizes(20px, 24px);
    width: 155px;
    margin-top: 27px;
  }
}

@media (min-width: $desktop-width) {
  .product__name {
    @include font-sizes(20px, 21px);
    margin-top: 40px;
  }

  .product__picture {
    margin-top: -86px;
  }
}
