.product {
  min-height: 209px;
  border-top: 1px solid $third-border-color;
}

.product__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
  min-height: 100%;
}

.product__name {
  @include font-sizes(16px, 20px);
  display: inline-block;
  width: 76px;
  color: $font-color-medium;
  text-transform: uppercase;

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__picture {
  flex-basis: 140px;

  img {
    object-fit: contain;
  }

  &:focus {
    outline: none;
  }
}

.product__characteristics {
  margin-top: 11px;
  margin-left: -2px;
}

.product__discription {
  flex-basis: 145px;
  margin: 10px -5px 10px 0;
}

.product__order {
  margin-top: -4px;
}

@media (min-width: $tablet-width) {
  .product {
    min-height: 430px;
  }

  .product__container {
    flex-direction: column;
    justify-content: space-between;
    padding: 0 40px 40px 40px;

    &:not(.show-more__container) {
      background-color: $basic-bg-color;
    }
  }

  .product__picture {
    display: flex;
    align-items: flex-end;
    flex-basis: 208px;
    margin: -79px -39px 30px -39px;
  }

  .product__discription {
    display: flex;
    flex-direction: column;
    flex-basis: 157px;
    align-items: center;
    align-self: stretch;
    text-align: center;
    margin-top: auto;
  }

  .product__name {
    @include font-sizes(20px, 24px);
    width: 155px;
  }

  .product__characteristics {
    margin-top: auto;
  }

  .product__order {
    margin-top: 22px;
  }
}

@media (min-width: $desktop-width) {
  .product__name {
    line-height: 21px;
  }
}
