.show-more {
  @include font-sizes(12px, 16px);
  padding-top: 26px;
  text-align: center;
  font-family: $secondary-font-family;
  border-bottom: 1px solid $third-border-color;
}

.show-more__title {
  @include font-sizes(16px, 20px);
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: $main-font-family;
  text-transform: uppercase;
  color: $additional-dark;

  &::before {
    @include sizes(30px, 30px);
    content: "";
    display: inline-block;
    align-self: center;
    margin-bottom: 23px;
    background: url("../../img/plus-mobile.svg");
  }
}

.show-more__text {
  margin-top: 8px;
  margin-bottom: 21px;
}

@media (min-width: $tablet-width) {
  .show-more {
    padding: 0;
  }

  .show-more__container {
    padding: 49px 36px 36px 36px;
    border: 2px solid $basic-bg-color;
  }

  .show-more__title {
    @include font-sizes(20px, 22px);
    max-width: 178px;

    &::before {
      @include sizes(60px, 60px);
      margin-bottom: 48px;
    }
  }

  .show-more__text {
    @include font-sizes(16px, 18px);
    max-width: 227px;
    margin-top: 24px;
    margin-bottom: 86px;
  }
}
