.show-more {
  font-family: $secondary-font-family;

  @include font-sizes(12px, 16px);
  text-align: center;
  border-bottom: 1px solid #ebebeb;
}

.show-more__title {
  font-family: $main-font-family;

  @include font-sizes(16px, 20px);
  text-transform: uppercase;
  color: $additional-dark;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .show-more__container {
    border: 2px solid $basic-bg-color;
  }

  .show-more__title {
    @include font-sizes(20px, 22px);
  }

  .show-more__text {
    @include font-sizes(16px, 18px);
  }
}
