.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__item {
  margin: 0 18px;
  color: #666666;

  &:hover,
  &:focus-within {
    color: $basic-theme-color;
  }

  &:focus-within a {
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .socials__item {
    margin: 0 14px;

    svg {
      width: 25px;
      height: auto;
    }

    &--vk svg {
      width: 32px;
    }

    &--facebook svg {
      width: 29px;
    }
  }
}
