.stats {
  @include font-sizes(12px, 12px);
  font-family: $secondary-font-family;
  position: relative;
  text-align: center;
  width: 125px;
  border: 1px solid $basic-border-color;
  border-radius: 3px;
  padding: 13px 10px 17px 10px;
}

.stats__data {
  @include font-sizes(24px, 24px);
  font-family: $main-font-family;
  color: $font-color-dark;
  text-transform: uppercase;
}

.stats__description {
  position: absolute;
  background-color: #eaeaea;
  padding-right: 20px;
  padding-left: 20px;
  width: 96px;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: auto;
}

@media (min-width: $tablet-width) {
  .stats {
    width: 162px;
  }

  .stats__data {
    @include font-sizes(30px, 37px);
  }

  .stats__description {
    @include font-sizes(14px, 14px);
    padding-right: 8px;
    padding-left: 8px;
    width: max-content;
    bottom: -9px;
    background-color: $font-color-light;
  }
}

@media (min-width: $desktop-width) {
  .stats__description {
    background-color: #eaeaea;
  }
}
