.title-line {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0;
    top: 15px;
    border: 1px solid $basic-theme-color;
    z-index: -1;
  }
}

.title-line__block {
  max-width: 320px;
  padding-right: 30px;
  margin: auto;
  text-align: left;
}

.title-line__text {
  display: inline-block;
  height: 25px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $font-color-light;
}

@media (min-width: $tablet-width) {
  .title-line {
    &::after {
      top: 23px;
    }
  }

  .title-line__block {
    max-width: 750px;
    padding-left: 29px;
  }

  .title-line__text {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .title-line__block {
    max-width: 1440px;
    padding-left: 70px;
  }

  .title-line__text {
    padding-left: 40px;
    padding-right: 37px;
  }
}
