.title {
  font-weight: 400;

  @include font-sizes(36px, 36px);
  color: $font-color-dark;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .title {
    @include font-sizes(60px, 60px);
  }
}
