.toggles {
  @include font-sizes(16px, 20px);
  text-align: center;
  text-transform: uppercase;
  color: $font-color-dark;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggles__bar {
  @include sizes(84px, 14px);
  display: flex;
  background-color: #ffffff;
  border: 1px solid $basic-border-color;
  border-radius: 6px;
  padding: 0 6px;
  margin: 0 14px 0 19px;
}

.toggles__name {
  @include font-inherit;
  text-transform: uppercase;
  border: none;
  background-color: inherit;
  padding: 0;
}

.toggles__pointer {
  @include sizes(35px, 6px);
  background: $basic-theme-color;
  border-radius: 6px;
  margin: auto auto auto 0;
}

@media (min-width: $tablet-width) {
  .toggles {
    @include font-sizes(20px, 30px);
  }

  .toggles__bar {
    @include sizes(428px, 6px);
    border-width: 3px;
    margin: 0 22px;
  }

  .toggles__name {
    border-bottom: 1px dotted rgba($color: $font-color-dark, $alpha: 0.4);
  }

  .toggles__pointer {
    @include sizes(34px, 34px);
    border: 13px solid $font-color-light;
    border-radius: 50%;
    margin-top: -17px;
    margin-left: auto;
    box-shadow:
      0 0 0 1px $basic-border-color,
      0 3px 4px 0 rgba($font-color-dark, 0.2);
  }
}

@media (min-width: $desktop-width) {
  .toggles {
    justify-content: flex-end;
    margin-top: 35px;
  }
}
