.toggles {
  @include font-sizes(16px, 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $font-color-dark;
}

.toggles__bar {
  @include sizes(84px, 14px);
  display: flex;
  padding: 0 6px;
  margin: 0 16px 0 19px;
  background-color: #ffffff;
  border: 1px solid $basic-border-color;
  border-radius: 6px;
}

.toggles__name {
  @include font-inherit;
  padding: 0;
  text-transform: uppercase;
  border: none;
  background-color: inherit;
}

.toggles__pointer {
  @include sizes(35px, 6px);
  margin: auto auto auto 0;
  background: $basic-theme-color;
  border-radius: 6px;
}

@media (min-width: $tablet-width) {
  .toggles {
    @include font-sizes(20px, 30px);
  }

  .toggles__bar {
    @include sizes(428px, 6px);
    margin: 0 22px;
    border-width: 3px;
  }

  .toggles__name {
    border-bottom: 1px dotted rgba($color: $font-color-dark, $alpha: 0.4);

    &:hover,
    &:focus {
      border-bottom-style: solid;
    }

    &:active {
      border-color: transparent;
    }
  }

  .toggles__pointer {
    @include sizes(34px, 34px);
    margin-top: -17px;
    margin-left: auto;
    border: 13px solid $font-color-light;
    border-radius: 50%;
    box-shadow:
      0 0 0 1px $basic-border-color,
      0 1px 2px 0 rgba($font-color-dark, 0.2);

    &:hover,
    &:focus {
      box-shadow:
        0 0 0 1px $basic-border-color,
        0 3px 4px 0 rgba($font-color-dark, 0.2);
    }

    &:active {
      box-shadow:
        0 0 0 1px $basic-theme-color,
        0 3px 4px 0 rgba($font-color-dark, 0.2);
    }
  }
}

@media (min-width: $desktop-width) {
  .toggles {
    justify-content: flex-end;
  }
}
